// Base styles
@import "./base/reset";

// Variables
@import "./utils/vars";
@import "./utils/visually-hidden";

// Components
@import "./components/link";
@import "./components/modal";
@import "./components/logo";
@import "./components/button";
@import "./components/social-links";
@import "./components/title";
@import "./components/filter-buttons";

// Layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/goals";
@import "./layout/services";
@import "./layout/team";
@import "./layout/partners";
@import "./layout/portfolio";
@import "./layout/footer";
