.goals {
  color: var(--secondary-text-color);
  &__items {
    @media screen and (max-width: 1199px) {
      margin-top: -30px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-left: -30px;
    }
  }
  &__item {
    width: 100%;

    @media screen and (max-width: 1199px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 2 * 15px);
      margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      margin-left: 30px;
    }

    &:nth-child(1)::before {
      display: block;
      content: "";
      height: 120px;

      background-color: #f5f4fa;
      border-radius: 4px;
      background-image: url(../images/icons/antenna.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;
    }
    &:nth-child(2)::before {
      display: block;
      content: "";
      height: 120px;

      background-color: #f5f4fa;
      border-radius: 4px;
      background-image: url(../images/icons/clock.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;
    }

    &:nth-child(3)::before {
      display: block;
      content: "";
      height: 120px;

      background-color: #f5f4fa;
      border-radius: 4px;
      background-image: url(../images/icons/diagram.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;
    }

    &:nth-child(4)::before {
      display: block;
      content: "";
      height: 120px;

      background-color: #f5f4fa;
      border-radius: 4px;
      background-image: url(../images/icons/astronaut.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;
    }
  }
  &__name {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__description {
    line-height: 1.71;
  }
}
