.partners {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 2 * 15px);
  }
  @media screen and (min-width: 768px) {
    .partners__item {
      flex-basis: calc(100% / 3 - 2 * 15px);
    }
  }
  @media screen and (min-width: 1200px) {
    .partners__item {
      flex-basis: calc(100% / 6 - 30px);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: fill var(--retiming), border var(--retiming);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }
  }
  &__icon {
    width: 106px;
    height: 60px;
  }
}
