.services {
  padding-top: 94px;
  padding-bottom: 94px;
  &__items {
    display: flex;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__name {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);

    background-color: rgba(47, 48, 58, 0.8);
  }
}
