.team {
  background-color: var(--third-section);
  text-align: center;

  &__items {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      margin-left: -30px;
    }
  }

  &__item {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 2 * 15px);
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      margin-left: 30px;
    }
  }
  &__member {
    padding-top: 30px;
    padding-bottom: 30px;
    &-name {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;

      color: var(--secondary-text-color);
    }
    &-position {
      font-size: 16px;
      line-height: 1.19;
    }
  }
}
