.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--third-section);
  text-align: center;
  &__items {
    display: flex;
  }
  &__item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__member {
    padding-top: 30px;
    padding-bottom: 30px;
    &-name {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;

      color: var(--secondary-text-color);
    }
    &-position {
      font-size: 16px;
      line-height: 1.19;
    }
  }
}
