@media screen and (max-width: 767px) {
  .mobile-menu {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      padding: 48px 20px;
      top: -100%;
      width: 100%;
      height: 100%;
      background-color: var(--white-color);

      font-size: 32px;
      line-height: 1.16;
      font-weight: 500;
      letter-spacing: 0.02em;

      transition: top var(--retiming);

      @media screen and (min-width: 480px) {
        padding: 48px 40px;
        font-size: 40px;
        line-height: 1.16;
      }
    }
    &.is-open &__container {
      top: 0;
    }

    &__items {
      @media screen and (max-width: 767px) and (orientation: landscape) {
        display: flex;
        font-size: 30px;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 32px;
      @media screen and (max-width: 767px) and (orientation: landscape) {
        margin-right: 20px;
      }
    }
    &__link {
      position: relative;
      color: var(--secondary-text-color);
    }
    &__link--active::after {
    }
    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
    }
    &__phone {
      font-size: 28px;
      line-height: 1.18;

      color: var(--accent-color);
      @media screen and (min-width: 480px) {
        font-size: 34px;
        line-height: 1.18;
      }
    }
    &__mail {
      font-size: 24px;
      line-height: 1.17;
    }
  }
}

.burger-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
  margin-left: auto;
  top: 15px;
  right: 30px;

  background-color: transparent;
  border: none;

  z-index: 9999;
}

.burger-button .icon-menu {
  display: block;
  fill: var(--secondary-text-color);
  transition: fill var(--retiming);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.burger-button .icon-cross {
  display: none;
}

.burger-button.is-open .icon-cross {
  display: block;
  fill: var(--secondary-text-color);
  transition: fill var(--retiming);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.burger-button.is-open .icon-menu {
  display: none;
}

.menu-social {
  &__items {
  }
  &__item {
    display: inline-flex;
    font-size: 16px;
    line-height: 1.17;

    @media screen and (min-width: 480px) {
      font-size: 18px;
      line-height: 1.22;
    }
  }
  &__link {
    color: var(--accent-color);
  }
  &__span {
    display: inline-flex;
    align-content: center;

    margin-left: 10px;

    width: 1px;
    height: 22px;
    background-color: black;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
