.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  scale: 0.8;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: visible;
  opacity: 1;

  scale: 1;

  background: rgba(0, 0, 0, 0.2);
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  width: 530px;
  min-height: 580px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  padding: 40px;
  border-radius: 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

form > .head {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: right;
}

.form .input-box {
  display: block;
  position: relative;
  margin-top: 12px;
  font-size: 12px;
}

.modal .input,
.modal .message,
.subscribe-box .input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 0 10px 0 40px;

  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal .message {
  font-family: inherit;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.message::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* Иконка закрытия модалки */

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal .icon {
  display: block;
  width: 18px;
  height: 18px;

  fill: currentColor;
  transition: fill var(--retiming);
}

.button-close:hover .icon,
.button-close:focus .icon {
  fill: var(--accent-color);
}

/* Иконка закрытия модалки */

.form .input-icon {
  position: absolute;
  display: block;

  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;
  fill: #000000;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) fill;
}

.input:focus + .input-icon {
  fill: var(--accent-color);
}

.input:focus,
.modal .message:focus {
  border: var(--accent-color) 1px solid;
}

.form .checkbox-label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkbox-label a {
  color: var(--accent-color);
}

.checkbox + .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-right: 7px;

  fill: transparent;
  background-color: var(--white-color);
  transition: fill var(--retiming), background-color var(--retiming),
    border var(--retiming);
  border: var(--secondary-text-color) 2px solid;
  border-radius: 4px;
}

.checkbox:checked + .icon {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border: transparent 0px solid;
}

.button-box {
  display: flex;
  justify-content: center;
}

.form .button {
  width: 200px;
  margin-top: 30px;
}
