.title {
  margin-bottom: 50px;

  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
